[Unit]
Description=Autosearchfunktion for Selma Bot
After=syslog.target

[Service]
Restart=always
Type=exec
WorkingDirectory=/home/selma/bot
ExecStart=python3 /home/selma/bot/autosearch.py
SyslogIdentifier=Autosearch
RestartSec=10

[Install]
WantedBy=multi-user.target
