[Unit]
Description=Telegram Bot
After=syslog.target

[Service]
Restart=always
Type=simple
WorkingDirectory=/root/telegram
ExecStart=python3 /root/telegram/autosearch.py
SyslogIdentifier=botserver
RestartSec=10

[Install]
WantedBy=multi-user.target
