[Unit]
Description=Selma Bot
After=syslog.target

[Service]
Restart=always
Type=simple
WorkingDirectory=/home/selma/bot
ExecStart=python3 /home/selma/bot/main.py
SyslogIdentifier=selma
RestartSec=5

[Install]
WantedBy=multi-user.target
